# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: galves-d <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/02/14 15:53:39 by galves-d          #+#    #+#              #
#    Updated: 2020/03/12 21:41:47 by galves-d         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.swp
*.swo
*.o
*.a
a.out
output
Tester_GNL/
42cursus_gnl_tests/
teste/
test/output.dSYM
